# Ignore build artifacts and compiled files
/dist/
/build/

# Ignore editor-specific and OS-specific files
.DS_Store
.idea/
.vscode/

# Ignore Node.js dependencies
node_modules/

# Ignore environment-specific files (replace with your specific file names)
.env
config.js

# Ignore log files
*.log
